* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --darkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);
  --mediumGrey: hsla(216, 12%, 54%, 0.205);
}

@font-face {
  font-family: "Overpass";
  src: url("./asset/font/Overpass-VariableFont_wght.ttf");
}

body {
  height: 100vh;
  background-color: var(--veryDarkBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Overpass", sans-serif;
}

.container {
  background-color: var(--darkBlue);
  margin-bottom: 30px;
  width: 412px;
  height: 416px;
  border-radius: 30px;
  padding: 30px;
}

.star-icon {
  width: 48px;
  height: 48px;
  background-color: var(--mediumGrey);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.container h2 {
  color: var(--white);
}

.container p {
  color: var(--lightGrey);
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 30px;
}

.rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + span {
  background-color: var(--white);
  color: var(--veryDarkBlue);
}

.rate span {
  background-color: var(--mediumGrey);
  color: var(--lightGrey);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}

.rate span:hover {
  background-color: var(--orange);
  color: var(--veryDarkBlue);
}

.clicked {
  background-color: var(--white);
  color: var(--veryDarkBlue);
}

#selected-score {
  margin: 0 5px;
}

button {
  background-color: var(--orange);
  color: var(--veryDarkBlue);
  width: 341px;
  height: 45px;
  border-radius: 22.5px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: var(--white);
}

.thankYouContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

.rating-result {
  width: 193px;
  height: 32px;
  background-color: var(--mediumGrey);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rating-result {
  color: var(--orange);
  font-size: 0.875rem;
}

footer {
  color: var(--lightGrey);
}

footer a {
  color: var(--orange);
}

@media screen and (max-width: 715px) {
  .container {
    width: 327px;
    padding: 24px;
  }

  .container p {
    margin-bottom: 24px;
  }

  .rating {
    margin-bottom: 20px;
  }

  button {
    width: 279px;
    height: 45px;
  }
}
